* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background-color: rgb(0, 255, 42);
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 1275px) {
    .box {
        background-color: rgb(0, 255, 115);
        border: 3px solid blue;
        border-radius: 10px;
    }

}

@media screen and (max-width: 1275px) {
    .box {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 1275px) {
    .box {
        border-radius: 50%;
        background-color: rgb(47, 0, 255);
        border: 3px solid black;
    }

}

@media screen and (max-width: 1275px) {
    .box {
        border-radius: 20px;
    }

}